* {
    box-sizing: border-box;
}

/* GENERAL RULES */

p {
    cursor: default;
}

.error {
    border-style: solid;
    color: red;
}

.success {
    border-style: solid;
    color: green;
}


.loader {
    border: 4px solid #f3f3f3;
    border-radius: 50%;
    border-top: 4px solid #3498db;
    width: 30px;
    height: 30px;
    -webkit-animation: spin 1s linear infinite;
    /* Safari */
    animation: spin 1s linear infinite;
}



.active {
    border: 3px solid green;
    border-radius: 1px;
    padding: 3px 6px;
}



/* Safari */

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}



/* CALENDAR CSS */

#week {
    margin: 1rem;
}


#calendar {
    text-align: center;
    line-height: 2;
}

#calendar p {
    font-weight: 300;
}

.today {
    background-color: #0078D7;
}

#calendar table {
    vertical-align: top;
    border-collapse: collapse;
}

#calendar tbody tr:hover {
    background-color: #fff;
}

#calendar td {
    text-align: center;
    padding: 0.5rem;


}

#calendar thead td {
    color: #999;
    font-size: .75rem;
    text-transform: uppercase;
}

#calendar tbody td {
    font-size: .875rem;

}

#calendar tbody td:hover {
    border: 5px solid #333;
    cursor: pointer;
}

td.before,
td.after {
    color: #999;
}

#next:hover,
#previous:hover {
    background-color: orange;
}

.not-selectable {
    background-color: lightgrey;
}

.not-selectable:hover {
    cursor: not-allowed;
}

.date-clicked {
    background-color: orange;
}

/* ========================= MOBILE SETUP ====================================== */


#customerinfo {
    position: fixed;
    top: 0;
    right: 100px;
    height: 5vh;
    font-size: 0.8rem;
}

#wrapper {
    display: flex;
    flex-flow: row wrap;
}

#wrapper>* {
    flex: 1 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}


#showings-wrapper>* {
    flex: 1 100%;

}

#film-titles {
    display: flex;
    flex-flow: row wrap;
}

#film-titles>* {
    flex: 1 100%;
    display: flex;
    justify-content: center;
}

.title {
    margin: 0 0.5rem;
    font-family: 'Gentium Book Basic', serif;
    font-size: 1.4rem;
}

/* FILM DESCRIPTION */

#film {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-top: 1rem;
    border-top: 1px solid black;
    padding-top: 0.5rem;
}

.film-details p {
    font-family: 'Oxygen', sans-serif;
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 0;
}


.poster {
    flex-basis: 40%;
}

.poster img {
    width: 100%;
    height: auto;
}

/* HOURS OF SHOWINGS */

#times-list {
    margin-top: 1rem;
    border-top: 1px solid black;
    justify-content: center;
}

.showing {
    border-color: gray;
    margin: 0.3rem;
}

.showing .normal {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 2px 5px;
}

.showing:hover {
    transform: scale(1, 1);
}



.activeshow {
    background: rgba(255, 255, 255, 0.9);
}



#details {
    display: none;
    flex: 1 100%;
    flex-flow: row wrap;
}

/*
#details > * {
    flex: 1 100%;
    align-items: center;
    justify-content: center;
}



#order>* {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}
*/


#selected-showing p {
    margin-top: 0;
    margin-bottom: 0;
}


.ordered {
    justify-content: center;
    align-items: center;
}

#seats::before {
    display: block;
    content: "";
    background-color: #fff;
    height: 1px;
    width: 12.515625rem;
    margin: .5rem auto;
}

#seats {}


.seat {
    padding: 0;
    font-size: 10px;
    width: 1.2rem;
    height: 1.8rem;
}

.selected {
    background: red;
}



#login form>*,
#register form>* {
    display: flex;
    flex-direction: column;
    border-style: solid;
    margin: auto;
}




/* ========================= DESKTOP SETUOP ====================================== */

@media only screen and (min-width: 768px) {
    #showings-wrapper {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }

    #showings-wrapper>* {
        flex: 0 0 60vw;
    }


    .poster {
        flex-basis: 20%;
    }

    .poster img {
        width: 12vw;
        height: auto;
    }

    .seat {
        padding: 0;
        font-size: 1rem;
        width: 2rem;
        height: 2.6rem;
    }

    #nextBtn {
        width: 4rem;
        height: 2rem;
        font-size: 1rem;
    }

    #film {
        justify-content: space-between;
    }

    .film-details p {
        font-size: 1.25rem;

    }

    td {
        width: 2.5rem;

    }
}