* {
    box-sizing: border-box;
}

body {
    background-color: yellow;
}


#customerinfo {
    position: fixed;
    top: 0;
    right: 100px;
}

#wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}


#cal-wrapper{
    position:fixed;
    margin:0;
}

#roll {
    position:absolute;
    top:0;
    right:5;
}

#film-titles {
    display: flex;
    flex-flow: row wrap;
    border-style: solid;
}

#film-titles>*,
#showlist>* {
    flex: 1 100%;
    display: flex;
    background-color: red;
    border-style: solid;
    border-color: blue;
    /*-webkit-transition: width 2s, height 2s;
    transition: width 2s, height 2s;*/
}

.showing:hover {
    transform: scale(1, 1);
}

.showing-details p {
    margin-top: 0;
    margin-bottom: 0;
}

.title {
    font-weight: bold;
}

.showing-details {
    flex-basis: 70%;
}

.poster {
    background-color: green;
    border-style: dotted;
    flex-basis: 30%;
}

.active {
    border-style: solid;
    border-color: green;
}










/*
.blur {
    -webkit-filter: blur(6px);
    -moz-filter: blur(6px);
    -ms-filter: blur(6px);
    -o-filter: blur(6px);
    filter: blur(6px);
}*/

.activeshow {
    background: rgba(255, 255, 255, 0.9);
}

#details {

    display: flex;
    flex: 1 100%;
    flex-flow: row wrap;
    border-style: solid;
    border-color: purple;
}

#details>* {
    flex: 1 100%;
    align-items: center;
    justify-content: center;
}

#order {
    /*display:flex;
flex-flow: row wrap;*/
}

#order-form {}

#order>* {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

#close {
    position: absolute;
    top: 5px;
    right: 10px;
}

#selected-showing p {
    margin-top: 0;
    margin-bottom: 0;
}


.ordered {
    justify-content: center;
    align-items: center;
}

#seats {
    display: flex;
    flex-flow: row wrap;
}


.selected {
    background: red;
}



#login form>*,
#register form>* {
    display: flex;
    flex-direction: column;
    border-style: solid;
    margin: auto;
}




.error {
    border-style: solid;
    color: red;
}

.success {
    border-style: solid;
    color: green;
}


.loader {
    border: 4px solid #f3f3f3;
    border-radius: 50%;
    border-top: 4px solid #3498db;
    width: 30px;
    height: 30px;
    -webkit-animation: spin 1s linear infinite;
    /* Safari */
    animation: spin 1s linear infinite;
}

.date-clicked {
    background-color:grey;
}


/* Safari */

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


@media only screen and (min-width: 768px) {
    #wrapper {
        justify-content: center;
    }
    #film-titles,
    #showlist {
        flex: 0 30%;
        order: 1;
    }
    .showing {
        display: flex;
        flex-flow: row wrap;
        transition: all 4s;
    }
    .showing-wrapper {
        display: flex;
        flex: 1 100%;
        flex-direction: row;
    }

    .title {
        flex: 1 100%;
        padding: 5px 0;
    }

    #details {
        align-items: flex-start;
        max-height: 100vh;
        flex: 0 30%;
        order: 2;
    }


    #seats {
        flex-flow: column wrap;
        align-items: center;
    }


    .visuallyhidden {
        opacity: 0;
        height: 0;
    }

    .visuallyvisible {
        opacity: 1;
        height: auto;
    }
}





/* CALENDAR CSS */

#week {
    margin: 1rem;
}

#calendar {
    display: flex-inline;
    margin: 1rem;
    text-align: center;
    line-height: 2;
}

#calendar p {
    font-weight: 300;
}

.today {
    background-color: orange;
}

table {
    vertical-align: top;
    border-collapse: collapse;
}

tbody tr:hover {
    background-color: #fff;
}

td {
    text-align: center;
    line-height: 1.75rem;
    width: 1.75rem;
}

thead td {
    color: #999;
    font-size: .75rem;
    text-transform: uppercase;
}

tbody td {
    font-size: .875rem;
}

tbody td:hover {
    background-color: #333;
    color: #fff;
    cursor: pointer;
}

td.before,
td.after {
    color: #999;
}