* {
    box-sizing: border-box;
}

body {
    background-color: yellow;

}

a {
    position: relative;
}

a:visited,
a:link,
a:active {
    text-decoration: none;
    cursor: default;
    color: black;
}

#customerinfo {
    position: fixed;
    top: 0;
    right: 100px;
}


#wrapper{
     display: flex;
    justify-content:center;   
}

#showings {
    display: flex;
    flex-direction:column;
    border-style: solid;
    width: 40vw;
    justify-content: center;
}

.showing {
    display: inline-flex;
    background-color: red;
    border-style: solid;
    border-color: blue;
    -webkit-transition: width 2s, height 2s; /* Safari */
    transition: width 2s, height 2s;
}

.showing:hover{
    transform: scale(1.1,1.1);
}
.showing p{
    margin-top:0;
    margin-bottom: 0;
    min-width: 100%;
    flex-basis:auto;
}

.title {
    font-weight: bold;
    font-size:1.5rem;
}

.poster {
    display:flex;
    position: absolute;
    right: 0;
    top: 0;
    background-color: green;
    height:100%;
    border-style:dotted;
    align-items:center;
    justify-content: center;
}

.active {
    border-style: solid;
    border-color: green;
}




#details {
    display:none;
    width:40vw;
    display:flex;
    justify-content: center;
}



#seats {
    border-style: solid;
    margin:auto;
}


.selected {
    background: red;
}


#order {
    border-style: solid;
     margin:auto;
}

#login {
    border-style: solid;
     margin:auto;
}

#register {
    border-style: solid;
     margin:auto;
}


.error {
    border-style: solid;
    color: red;
}

.success {
    border-style: solid;
    color: green;
}
