* {
    box-sizing: border-box;
}

body {
    background-color: yellow;
}



a:visited,
a:link,
a:active {
    text-decoration: none;
    cursor: default;
    color: black;
}

#customerinfo {
    position: fixed;
    top: 0;
    right: 100px;
}

#wrapper {
    display: flex;
    flex-flow: row wrap;
}

#showings {
    order: 2;
    display: flex;
    flex-flow: row wrap;
    border-style: solid;
}

#showings>* {
    flex: 1 100%;
    display: flex;
    background-color: red;
    border-style: solid;
    border-color: blue;
    /*-webkit-transition: width 2s, height 2s;
    transition: width 2s, height 2s;*/
}

.showing:hover {
    transform: scale(1, 1);
}

.showing p {
    margin-top: 0;
    margin-bottom: 0;
}

.title {
    font-weight: bold;
}

.showing-details {
    flex-basis: 70%;
}

.poster {
    background-color: green;
    border-style: dotted;
    flex-basis: 30%;
}

.active {
    border-style: solid;
    border-color: green;
}



/*
.blur {
    -webkit-filter: blur(6px);
    -moz-filter: blur(6px);
    -ms-filter: blur(6px);
    -o-filter: blur(6px);
    filter: blur(6px);
}*/

.activeshow {
    background: rgba(255, 255, 255, 0.9);
}

#details {
    order: 1;
    display: flex;
    flex: 1 100%;
    flex-flow: row wrap;
    border-style: solid;
    border-color: purple;
}

#details>* {
    flex: 1 100%;
    align-items: center;
    justify-content: center;
}

#order {
    /*display:flex;
flex-flow: row wrap;*/
}

#order-form {}

#order>* {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

#close {
    position: absolute;
    top: 5px;
    right: 10px;
}

#selected-showing p {
    margin-top: 0;
    margin-bottom: 0;
}


.ordered {
    justify-content: center;
    align-items: center;
}

#seats {
    display: flex;
    flex-flow: row wrap;
}


.selected {
    background: red;
}



#login form>*,
#register form>* {
    display: flex;
    flex-direction: column;
    border-style: solid;
    margin: auto;
}




.error {
    border-style: solid;
    color: red;
}

.success {
    border-style: solid;
    color: green;
}



@media only screen and (min-width: 768px) {
    #wrapper {
        justify-content: center;
    }
    #showings {

        flex:0 30%;
        order: 1;
    }

    #showings>* {
        /*flex: 1 100%;*/
    }
    #details {
        align-items: flex-start;
        max-height: 100vh;
        flex:0 30%;
        order: 2;
    }
#selected-showing{
    align-items: flex-start;
}

    #seats {
        flex-flow: column wrap;
        align-items: center;
    }

    /*#showings>* {
    flex: 1 70%;
}
#details >*{
    flex: 1 70%;
}*/
}