* {
    box-sizing: border-box;
}

body {
    background-color: yellow;

}

a {
    position: relative;
}

#wrapper{
     display: flex;
    justify-content:center;   
}

.showing {
    background-color: red;
    border-style: solid;
    border-color: blue;
}

.poster {
    display:flex;
    position: absolute;
    right: 0;
    top: 0;
    background-color: green;
    height:100%;
    border-style:dotted;
    align-items:center;
    justify-content: center;
}

.active {
    border-style: solid;
    border-color: green;
}

#customerinfo {
    position: fixed;
    top: 0;
    right: 100px;
}

#showings {
    display: flex;
    flex-direction:column;
    border-style: solid;
    width: 50vw;
    justify-content: center;
}



a:visited,
a:link,
a:active {
    text-decoration: none;
    cursor: default;
    color: black;
}

#details {
    display:none;
    width:50vw;
}

#details .picked{
    display:block;
}

#seats {
    width: 40%;
    position: absolute;
    border-style: solid;
}


.selected {
    background: red;
}


#order {
    border-style: solid;
    width: 40%;
    position: absolute;
}

#login {
    border-style: solid;
    width: 40%;
    position: absolute;
}

#register {
    border-style: solid;
    width: 40vw;
    position: absolute;
}


.error {
    border-style: solid;
    color: red;
}

.success {
    border-style: solid;
    color: green;
}

#ordx {
    display: block;
}