* {
    box-sizing: border-box;
}

body {
    background-color: yellow;
}



a:visited,
a:link,
a:active {
    text-decoration: none;
    cursor: default;
    color: black;
}

#customerinfo {
    position: fixed;
    top: 0;
    right: 100px;
}


#wrapper {
    display: flex;
  flex-direction: column;
}

#showings {
    display: flex;

    flex-direction: column;
    border-style: solid;
    
}

.showing {
    display: flex;
    background-color: red;
    border-style: solid;
    border-color: blue;
    -webkit-transition: width 2s, height 2s;
    /* Safari */
    transition: width 2s, height 2s;
    justify-content: space-between;
    height: 30vh;
    width:100%;
}

.showing:hover {
    transform: scale(1, 1);
}

.showing p {
    margin-top: 0;
    margin-bottom: 0;
}

.title {
    font-weight: bold;
    font-size: 4rem;
}

.showing-details {
    font-size:3rem;
    width:70%;
}
.poster {
    background-color: green;
    min-height: 100%;
    border-style: dotted;
    width:30%;
    font-size:1rem;
}

.active {
    border-style: solid;
    border-color: green;
}



.blur{
        -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -ms-filter: blur(4px);
    -o-filter: blur(4px);
    filter: blur(4px);
}


.activeshow {
  position:fixed;
        padding:0;
    margin:0;

    top:0;

    width: 100%;
    height: 100%;
    background:rgba(255,255,255,0.5);
}

#details {
    display: flex;
    flex-direction: column;
    width: 99vw;
    max-height: 99vh;
    border-style: solid;
    border-color: purple;
  
}
#close {
    font-size:2rem;
    position:absolute;
    top:5px;
    right:10px;
}
#selected-showing p{
    font-size:4rem;
    margin-top: 0;
    margin-bottom: 0;
}
#seats {
    border-style: solid;
    margin: auto;
}
#seats button {
    font-size:2rem;
    padding:16px 32px;
}


.selected {
    background: red;
}


#order {
    border-style: solid;
    width:100%;
    font-size:2rem;

}

#login {
    border-style: solid;
    margin: auto;
}

#register {
    border-style: solid;
    margin: auto;
}


.error {
    border-style: solid;
    color: red;
}

.success {
    border-style: solid;
    color: green;
}